{% extends 'movies/../base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/movies_list.css' %}">
<div class="movie-list">
    {% for movie in movies %}

        <div class="movie">
            <img
            class="movie-thumbnail"
            alt="img"
            src="{{ movie.poster_image.url }}"
            >
            <div class="movie-info">
                <h2 class="movie-title">{{ movie.title }}</h2>
                <p class="movie-rating">{{ movie.total_rating }}/10</p>
                <p class="movie-description">{{ movie.release_year }}.</p>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}