{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/review.css' %}">
<div class="reviews-container">
    <h2>Reviews</h2>
    {% if movie.review_set.exists %}
        <div class="review-list">
        {% for review in movie.review_set.all %}
        <div class="review-info">
            <h2 class="review-autor">{{ review.user.email }}</h2>
            <p class="review-rating">{{ review.rating }}/10</p>
            <p class="review-text">{{ review.text }}.</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
</div>
{% endblock %}
