.add-comment {
    text-align: end;
}

.add-comment-title {
    font-size: 24px;
    text-align: start;
}

.add-comment-field {
    margin: 20px 0;
    width: 100%;
    resize: none;
    border-radius: 6px;
    height: 100px;
    padding: 10px;
}

.send-comment {
    width: 30%;
    background-color: #e2b607;
    padding: 10px;
    border-radius: 4px;
    border: none;
}
