.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 60px 0;
}

.movie {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 80%
}

.card-image:hover:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.card-image:hover img {
    transform: scale(1.1);
}

.movie-info {
    padding: 20px;
}

.movie-info > *:not(:last-child) {
    margin-bottom: 10px;
}

.movie-title {
    color: #333;
    font-size: 20px;
}

.movie-rating {
    color: #ffac33;
    font-weight: bold;
}

.movie-description {
    color: #666;
    font-size: 14px;
}

.pagination,
.pagination__item {
    display: flex;
    justify-content: center;
}

.pagination {
    gap: 10px;
    margin-bottom: 30px;
}

.pagination__item {
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pagination__item a {
    color: #333333;
    padding: 10px;
}

.pagination__item:hover {
    background-color: #eee;
}

.pagination__item.active {
    background-color: #313131;
}

.pagination__item.active a {
    color: white;
}
