.reviews-container {
    padding-bottom: 60px;
}
.reviews-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.review-list .review-info:not(:last-child) {
    margin-bottom: 20px;
}

.review-info {
    padding: 20px;
    box-shadow: 0 0 5px #b9aeae;
    border-radius: 4px;
    position: relative;
}

.review-autor {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review-rating {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
}

.rating-wrapper {
    width: 15px;
    height: 15px;
}

.rating-wrapper img {
    width: 100%;
    height: 100%;
}
´