.reviews-container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

.reviews-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.review-list {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.review-info {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.review-info:last-child {
    border-bottom: none;
}

.review-rating {
    color: #ffac33;
    font-weight: bold;
    margin: 0;
}

.review-text {
    color: #444;
    font-size: 20px;
    margin-top: 10px;
}
