{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My IMDb{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include "navbar.html" %}
<main class="container">
    {% block content %}
    {% endblock %}


    <div class="add-review-modal hide">
        <form name="review" action="post">
            <h3>Add your review!</h3>
            {% csrf_token %}

            <fieldset class="star-rating hidelabels">
                <label for="rating-1">1</label>
                <input class="rating-start" type="radio" id="rating-1" name="rating" value="1"/>
                <label for="rating-2">2</label>
                <input class="rating-start" type="radio" id="rating-2" name="rating" value="2"/>
                <label for="rating-3">3</label>
                <input class="rating-start" type="radio" id="rating-3" name="rating" value="3"/>
                <label for="rating-4">4</label>
                <input class="rating-start" type="radio" id="rating-4" name="rating" value="4"/>
                <label for="rating-5">5</label>
                <input class="rating-start" type="radio" id="rating-5" name="rating" value="5"/>
                <label for="rating-6">6</label>
                <input class="rating-start" type="radio" id="rating-6" name="rating" value="6"/>
                <label for="rating-7">7</label>
                <input class="rating-start" type="radio" id="rating-7" name="rating" value="7"/>
                <label for="rating-8">8</label>
                <input class="rating-start" type="radio" id="rating-8" name="rating" value="8"/>
                <label for="rating-9">9</label>
                <input class="rating-start" type="radio" id="rating-9" name="rating" value="9"/>
                <label for="rating-10">10</label>
                <input class="rating-start" type="radio" id="rating-10" name="rating" value="10"/>
            </fieldset>


            <textarea class="review-field" id="review-field"></textarea>
            <button class="send-review-btn"> Send Review</button>

            <button class="close-modal" type="button">x</button>
        </form>
    </div>
</main>

<footer>
    <div class="footer-content container">
        <div class="footer-section about">
            <h3>About IMDb</h3>
            <p>IMDb is the world's most popular and authoritative source for movie, TV, and celebrity content. Find
                ratings and reviews for the newest movie and TV shows.</p>
        </div>
        <div class="footer-section links">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Celebrities</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Follow Us</h3>
            <p><a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a></p>
        </div>
    </div>
</footer>
<script>
    const userData = "{{ request.user.id }}";
</script>
<script src="{% static 'movies/js/reviews.js' %}"></script>

</body>